/* font families */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* css variables */
:root {
	--theme-color: #ffa800;
	--font-color: #000000;
	--bg-color: #fffbf3;

	--sans-serif-ff: "Inter", sans-serif;
}

/* css resets */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow: hidden;
}

body {
	background-color: var(--bg-color);
	color: var(--font-color);
	font-family: var(--sans-serif-ff);
}

/* utility classes */
.hide-mobile {
	display: none;
}

.wrapper {
	padding: 1em;
}

/* ========== header section styling ========== */

header {
	display: flex;
	justify-content: space-between;

	nav {
		ul {
			list-style: none;
			position: fixed;
			top: 0;
			right: 0;
			z-index: 999;
			background-color: #ffffff;
			height: 100vh;
			width: 45%;
			text-align: right;
			padding: 0 1em;

			/* moving nav>ul to full right */
			transform: translateX(100%);

			li {
				margin-top: 2em;

				a {
					color: var(--font-color);
					text-decoration: none;
					font-size: 1.2rem;
					font-weight: bold;
					transition: color 0.2s;

					&:hover {
						color: var(--theme-color);
					}
				}
			}
		}
	}
}
